
/* === Page Components === */

.main-container {
  width: 100%;
  margin: 0 auto;
}

.grid-container {
  width: 100%;
  margin: 0;
}

.image-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px; 
  padding: 5px;
  padding-top: 15px;
}

.main-title {
  color: #fb7e5c;
  font-size: 1.6em;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}

.search-form input:only-of-type {
  padding: 0.3rem 0.5rem;
  line-height: 2.5;
  color: #495057;
  background-color: #fff;
  border: 1.5px solid #2c2c2c;
  border-radius: 30px;
  transition: border-color 0.15s;
  width: 30%;
  margin-right: -77px;
}
  
.search-button {
  padding: 8px 20px;
  border-radius: 28px;
  transition: all .2s ease-in-out;
  padding-left: 28px;
  padding-right: 28px;
  background-color: #fb7e5c;
  color: white;
}

.search-button:hover {
  border: 1.3px solid #2c2c2c;
  background-color: transparent;
  color: #5b6175;
}

.btn-search {
  font-weight: 700;
}

/* === Element Styles === */

body {
  font: 1em/1.5 'Roboto', sans-serif;
  color: #4c4c4c;
  padding: 2em;
  margin: 0;
}

li > img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

ul {
  list-style-type: none;
} 

/* === Media Queries === */

@media(max-width: 992px) {
  .image-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(max-width: 769px) {
  .image-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 480px) {
  .image-list {
    grid-template-columns: 1fr;
  }
}